/* CSS for all routes. */

:root {
  font-family: "JetBrains Mono", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  color: white;
  background-color: black;
}

a {
  color: rgb(255, 165, 0);
}

a:hover {
  color: rgb(255, 200, 100);
}

button {
  background-color: #444;
  cursor: pointer;
}
